header, footer {
    background-color: #00A2BB;
    font-family: "skolar-sans-latin";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

header, footer {
    display: flex;

}
header nav{
    margin-left: 30px;
    margin-top: 10px;
}

header li, footer li {
    display: inline-block;
}

footer {
    margin-bottom: 0;
    padding-left: 170px;
}


.logo {
    width: 8%;
    height:8%;
    padding: 10px 10px 0 10px;
}

header a, footer a {
    text-decoration-line: none;
    color: #05032c;
    padding: 30px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    text-decoration-color: #FFF;
    color: #FFF;
}

.current {
    text-decoration:underline;
    color: #FFF;
}

header li {
    list-style-type: none;
    padding-top: 40px;
}

.search {
    display: inline-block;
    padding-left: 700px;

}

body {
    background-color: #05032c;
    margin: 0;
    min-height: 100vh;
    
    
}

body h1,h2,p,nav {
    color: #FFF;
}

h1 {
    font-family: "skolar-latin";
    font-size: 48px;
    font-style:bolder;
}

h2 {
    font-family: "skolar-latin";
    font-size: 36px;
    font-style: italic;
}

p {
    font-family: "skolar-sans-latin";
    font-size: 20px;
}

.cta {
    background-color: #fea850;
    text-decoration-color: #05032c;
    border-width: 0;
    border-radius: 5px;
    font-family: "skolar-sans-latin";
    font-size: 15px;
    text-transform: uppercase;
    padding: 3px 15px;
    text-align: center;
    min-width: 95px;

}

.search-bar {
    border-radius: 9px;
    height: 24px;
}

/*Homepage for everyone*/
.welcome__banner {
    margin: 220px 0 130px 0;
    background-color: rgba(34,33,74,0.8);
    padding: 5px 20px 50px 450px;
}
.cta_welcome_item1 {
    margin-right: 40px;
}


.latest-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1500px;
    margin: 50px auto;
    grid-gap: 15px;
}

.latest-movies img, .content__top-10-movies img {
    width:100%;
    height: 400px;
    object-fit: cover;
    
}

.content__latest-movies {
    background-color: rgba(34,33,74,0.8);
    border-radius: 7px;
    padding-bottom: 20px;
}

.content__latest-movies h2, p, a {
    padding: 0 8px 0 8px;
}

.latest-movies a, .top-10-movies a {
    font-family: "skolar-latin";
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
    color: #00A2BB;
}

.register-now__banner {
    background-color: rgba(34,33,74,0.8);
    padding: 5px 20px 50px 450px;
}

.top-10-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1500px;
    margin: 50px auto;
    grid-gap: 15px;
}

.content__top-10-movies {
    background-color: rgba(34,33,74,0.8);
    border-radius: 7px;
    padding-bottom: 20px;
}

.weekly__content {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(34,33,74,0.8);
    max-width: 1500px;
    max-height: 500px;
    margin: 100px auto 100px 220px;
    }

.weekly__content div{
    margin: 10px;
    flex:1;
}

.img_weekly-producer {
    padding-right: 100px;
}

.weekly__content img {
    width: 300px;
    max-height: 400px;
    margin:10px;
    float:right;
}